<h1>About the Developer</h1>
<hr>
<center><img src ="/images/earvin.jpg" alt="earvin feed" width=35% height=35% /> <img src ="/images/guerric.jpg" alt="guerric feed" width=35% height=35% /></center>
<center><h1>Earvin lao & Guerric Lim</h1></center> 
<p>Earvin Lao was just a young boy when he decided to take computer programming as his course in college. Because of his innate desire to create programs and also websites, he studied very hard. Now that he had graduated top 5 in his batch, he can already fulfill his dream of being a professional. </p>
<p>5 years after, he now has a family with two children. His wife is named Ellyse Marie Ibay. <center><img src ="/images/lace.jpg" alt="lace feed" width=35% height=35% /></p></center>
<p>Because of his excellent career, his family never worried about financial matters. In his journey through life, he met another successful person, namely, Guerric Lim.</p>
<p> Another 5 years later, Earvin and Guerric became close friends to the point where they decided to put up their own firm that creates well-functioning programs for the public to use. One of their projects is this website called the "Payroll". They decided to create this website because they wanted to make the employers' lives much much easier. Having this website, they can easiy calculate the income of their employees and also the taxes invloved. This website turned into a great success which created profit for their joint business. </p>